<!doctype html>
<html lang="{{ site.Language.Locale | default "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.Params.description }}">
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
    {{ $styles := resources.Get "scss/custom.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
  </head>
  <body class="{{ if .IsHome }}home{{ end }}">
    {{ block "main" . }}{{ end }}
  </body>
</html>
